@import "tailwindcss";
/*
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
*/

:root {
  --background: #1e2128;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: var(--foreground);   
  font-family: Arial, Helvetica, sans-serif;
}

.fam-anta {
  font-family: "Anta", sans-serif;
}

.fam-raleway {
  font-family: "Raleway", sans-serif;
}

.fam-number {
  font-family: "Montserrat Alternates", sans-serif;
}

.fam-bruno {
  font-family: "Bruno Ace SC", sans-serif;
}

.fam-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.fam-orbitron {
  font-family: "Orbitron", sans-serif;
}

.fam-aw {
  font-family: "Audiowide", sans-serif;
}

.title{
  color: #00b6ad;
  font-weight: 700;
/*font-size: 40px;/*
font-family: "Oswald", sans-serif;
letter-spacing: 0.1em; */
}

.subtitle{
color: whitesmoke;
font-weight: 700;
font-size: 20px;
/*font-family: "Oswald", sans-serif;
letter-spacing: 0.1em;*/
}
